CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build

Runtime/*.exe
Runtime/*.dll
Runtime/*.pdb
Runtime/imgui.ini
Runtime/models/textures/*.bin
Runtime/models/*.modelcache
Runtime/*.blend
Runtime/*.blend1

.vscode